/*--------------------------------------Overall Styling------------------------------------*/
body{
    background-color: rgb(64, 64, 64);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    
}
.challenge-section {
    background-color: gray;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 75px;
    padding-right: 75px;
    width:83%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    
}

.challenge-main-section{
    background-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    border-radius: 10px;
    width: 100%;
    height:250px;
    
}

.challenge-btn-section{
    display:inline-flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    padding: 50px;
    padding-right: 0;
    padding-left: 0px;
}

.kaizen-btn{
    font-weight:bold;
    font-size: 1em;
    display: inline-flex;
    background-color: darkred;
    border:none ;
    padding: 8px;
    color: whitesmoke;
    margin-bottom: 8px;
    border-radius: 14px;
    text-align: center;
    justify-content:center;
    white-space:nowrap;
}

.hints-btn{
    font-weight:normal;
    font-size: 1em;
    display: inline-flex;
    background-color:whitesmoke;
    border:none ;
    padding: 8px;
    padding-left: 27px;
    padding-right: 27px;
    color: darkred;
    margin-bottom: 20px;
    border-radius: 14px;
    text-align: center;
    justify-content:center;  
}

.challenge-panel-section{
    display:inline-flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding: 50px;  
}

.panel-text{
    height: 20px;
    text-align: center;
    justify-content:center;
    padding-right:20px;
}

.panel-title{
    font-weight:bolder;
    font-size: 1.15em;
}

.panel-body{
    font-size: 1em;
    width:250px; 
}

.panel-img{
    width:270px;
    height:140px;
    margin-left: 50px;
    text-align: center;
    justify-content:center;
    border-radius: 14px;
}

.img-section{
    padding-left:30px;
}
.rounded{
    display: hidden;
}
.divider{
    display: hidden;
    
}
    
/*--------------------------------------Screen styling (375px to 499px)------------------------------------*/    
@media (max-width:499px) and (min-width:375px){
     .challenge-section {
        background-color: gray;
        width:100%;
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin:0;
        display: flex;
        justify-content: center;
        
       
    }
    
    .challenge-main-section{
        background-color: whitesmoke;
        width: 85%;
        height: 100%;
        padding:30px;
        margin:0;
        flex-direction: column;
        
        
    }
    
    .challenge-btn-section{
        display:inline-flex;
        width: 100%;
        padding: 0;
        margin-bottom:20px;
        flex-direction:row;
    }
    
    .kaizen-btn{
        width:35%;
        padding: 8px;
        margin:0;
    }
    
    .hints-btn{
        width:35%;
        padding: 8px;
        margin:0; 
    }
    
    .challenge-panel-section{
        width:100%;
        padding: 0;
        padding-bottom: 10px;
        margin:0;
        flex-direction:column;  
    }
    
    .panel-text{
        width:100%;
        padding: 0;
        margin:0;
        justify-content:center;
        text-align: center; 
        
    }
    
    .panel-title{
        width:100%;
        padding-top: 0;
        margin-top:0;
        margin-left:0;
        margin-right:0;
    }

    .panel-body{
        width:100%;
        padding: 0;
        margin:0;
        margin-bottom: 35px;
    }
    
    .panel-img{
        padding: 0;
        margin:0;
        display: flex;
        justify-content: center;
        position: relative;
        right: 15px;
    }

    .rounded{
        border-top: 3px solid #bbb;
        border-radius: 5000px;
        padding-left: 320px;
    }
    .divider{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        margin-left: 15px;
        width:90%;
    }
}
/*--------------------------------------Screen styling (500px to 909px)------------------------------------*/    
@media (max-width:909px) and (min-width:500px){
     .challenge-section {
        background-color: gray;
        width:100%;
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin:0px;
    }
    
    .challenge-main-section{
        background-color: whitesmoke;
        width: 93%;
        height: 100%;
        padding:30px;
        margin:0;
        flex-direction: column;
    }
    
    .challenge-btn-section{
        display:inline-flex;
        width: 100%;
        padding: 0;
        margin-bottom:20px;
        flex-direction:row;
    }
    
    .kaizen-btn{
       width:35%;
        padding: 8px;
        margin:0;
    }
    
    .hints-btn{
        width:35%;
        padding: 8px;
        margin:0;
    }
    
    .challenge-panel-section{
        width:100%;
        padding: 0;
        padding-bottom: 10px;
        margin:0;
        flex-direction:column;  
        
    }
    
    .panel-text{
        width:100%;
        padding: 0;
        margin:0;
        justify-content:center;
        text-align: center;
    }
    
    .panel-title{
        width:100%;
        padding-top: 0;
        margin-top:0;
        margin-left:0;
        margin-right:0;
    }

    .panel-body{
        width:100%;
        padding: 0;
        margin:0;
        margin-bottom: 35px;
    }
    
    .panel-img{
        width: 350px;
        height:200px;
        padding: 0;
        margin:0;
        display: flex;
        justify-content: center;
        position: relative;
        right: 15px;
    }

    .rounded{
        border-top: 3px solid #bbb;
        border-radius: 5000px;
        padding-left: 420px;
        width:80%
    }
    .divider{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        margin-left: 27px;
        width: 90%
        
    }
}
/*--------------------------------------Screen styling (910px to 991px)------------------------------------*/ 
@media (max-width:991px) and (min-width:910px){
     .challenge-section {
        background-color: gray;
        padding-top:30px;
        padding-bottom: 30px;
        padding-left: 75px;
        padding-right: 75px;
        width:83%;
        margin:0;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .challenge-main-section{
        background-color: whitesmoke;
        margin:0;
        padding:20px;
        display: inline-flex;
        border-radius: 10px;
        width: 100%;
        height:220px;
    }
    
    .challenge-btn-section{
        display:inline-flex;
        flex-direction:column;
        text-align:center;
        justify-content:center;
        padding: 0px;
        padding-left: 0px;
        margin-right: 40px;
    }
    
    .kaizen-btn{
        font-weight:bold;
        font-size: 1em;
        display: inline-flex;
        background-color: darkred;
        border:none ;
        padding: 8px;
        color: whitesmoke;
        margin-bottom: 8px;
        border-radius: 14px;
        text-align: center;
        justify-content:center;
        white-space:nowrap;
    }
    
    .hints-btn{
        font-weight:normal;
        font-size: 1em;
        display: inline-flex;
        background-color:whitesmoke;
        border:none ;
        padding: 8px;
        color: darkred;
        margin-bottom: 20px;
        border-radius: 14px;
        text-align: center;
        justify-content:center;
    }
    
    .challenge-panel-section{
        display:inline-flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        padding: 5px;
    }
    
    .panel-text{
        height: 200px;
        text-align: center;
        justify-content:center;
    }
    
    .panel-title{
        font-weight:bolder;
        font-size: 1.15em;
    }

    .panel-body{
        font-size: 1em;
    }
    
    .panel-img{
        width:270px;
        height:140px;
        margin-left: 50px;
        text-align: center;
        justify-content:center;
        border-radius: 14px;
        display:block
    }
    
}
/*--------------------------------------Screen styling (992px to 1140px)------------------------------------*/ 
@media (max-width:1140px) and (min-width:992px){
     .challenge-section {
        background-color: gray;
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        padding-left: 75px;
        padding-right: 75px;
        width:83%;
        align-items: center;
        justify-content: center;
        
    }
    
    .challenge-main-section{
        background-color: whitesmoke;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 50px;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        border-radius: 10px;
        width: 100%;
        height:250px;
    }
    
    .challenge-btn-section{
        display:inline-flex;
        flex-direction:column;
        text-align:center;
        justify-content:center;
        padding: 50px;
        padding-left: 0px;
    }
    
    .kaizen-btn{
        font-weight:bold;
        font-size: 1em;
        display: inline-flex;
        background-color: darkred;
        border:none ;
        padding: 8px;
        color: whitesmoke;
        margin-bottom: 8px;
        border-radius: 14px;
        text-align: center;
        justify-content:center;
        white-space:nowrap;
    }
    
    .hints-btn{
        font-weight:normal;
        font-size: 1em;
        display: inline-flex;
        background-color:whitesmoke;
        border:none ;
        padding: 8px;
        color: darkred;
        margin-bottom: 20px;
        border-radius: 14px;
        text-align: center;
        justify-content:center;  
    }
    
    .challenge-panel-section{
        display:inline-flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        padding: 50px;  
    }
    
    .panel-text{
        height: 20px;
        text-align: center;
        justify-content:center;
        padding-right:20px;
    }
    
    .panel-title{
        font-weight:bolder;
        font-size: 1.15em;
    }

    .panel-body{
        font-size: 1em;
        width:250px; 
    }
    
    .panel-img{
        width:270px;
        height:140px;
        margin-left: 50px;
        text-align: center;
        justify-content:center;
        border-radius: 14px;
    }

    .img-section{
        padding-left:30px;
    }
}
    